<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        p{
        font-family:italic;
        }





    </style>
    <script src="https://kit.fontawesome.com/6b64bdfcb8.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid bg-light text-secondary p-3 mt-3" style="height:300px">
    <div class="row">
        <div class="col-6 mt-3 ms-3 ">
            <strong style="font-family:cursive">
                <i class="fa-solid fa-house"> Address</i>


            </strong>
            <br><br>
            <p style="font-family:cursive">COUCHES</p>
            <p>Kochi</p>
            <p>Near LULU MALL</p>
            <p>Amaal buildings</p>
            <p>PIN:682024</p>
            <p>Kerala</p>
        </div>
        <div class="col-4 mt-3 ms-3">
            <strong style="font-family:cursive">
                <i class="fa-solid fa-phone"> Contact us</i>


            </strong>
            <br><br>
            <p>Shop : 7668905343</p>
            <p>Store manager : 9876984532</p>
            <p>Mail us : couches@gmail.com</p>
            <p>Follow us on : </p>
            <p><i class="fa-brands fa-twitter fa-2x"></i> <i class="fa-brands fa-facebook fa-2x"></i> <i
                    class="fa-brands fa-instagram fa-2x"></i></p>


        </div>


    </div>
</div>
</body>
</html>




